.newline {
  clear: both;
}

.inContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


#canvassesDiv {
  padding: 10px 10px 10px 10px;
}



/* D E VE E L O P M E N T */

canvas { border: 3px solid black}

/*.red {background: #FAAC58;}
.red:hover {background: #DF0101;}

.green {background: #D8F781;}
.green:hover {background: #A5DF00;}

.blue {background: #80d8e9;}
.blue:hover {background: #013ADF}*/


/*  S E T T I N G S */

.fullpage {
  z-index:1000;
  position: absolute;
  width: 100%;
  height: 100vh;
  /*background: white;*/
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px
}

.bgwhite-alpha {
  background: rgba(255,255,255,0.8);
}

.bgwhite {
  background: white;
}

.border { border: 2px solid gray;} /* settings panels */

div.horizontalgap{padding-left: 10px; display: inline}

.settings-col {
  position: relative;
  /*width: 22%;*/
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px
}
@media (max-width: 1000px) {
  .settings-col{
    width: calc(50% - 20px);
  }
}
@media (min-width: 1000px) {
  .settings-col{
    width: calc(25% - 20px);
  }
}

.hidden { display:none; }

img.frontpage{
    width:100%;
    max-width:150px;
    display: block;
    margin: 0 auto;
}

input[type=range]{
  float: right;
  margin: 0 0 0 0 !important;
}



/* L O G O */
#logoMainPage {
    zoom: 2;  //increase if you have very small images

    display: block;
    margin: auto;

    height: auto;
    max-height: 100%;

    width: auto;
    max-width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;
}












