/* transitions for animated logo */
rect {
  -webkit-transition: all 1.5s ease-in-out;
  -moz-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}

/* this prevents tool tips from messing with the div as they extend out of it...
 * BUT it introduces a vertical scroll bar. WTF!
 * http://stackoverflow.com/questions/6179831/overflow-x-adds-vertical-scrollbar
*/
#react {
  overflow-x: hidden;
}

.noOverflow {
  overflow-x: hidden;
}

/* id outer used to wrap a vertically centered element - landing page */
#outer {
  width: 100%;
  height: 90vh;
  /*border: 1px solid #000;*/
}
.centeredVertically {
  position: relative;
  top: 50%;
  /*border: #a0a0a0 solid 1px;*/
  transform: translateY(-50%);
}

/* header element */
#header {
  width: 100%;
  height: 25px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  background: #D8D8D8;
}
.content {
  position: relative;
  top: 25px;
}

/* code snippets: */
code {
  font-family: Courier, 'New Courier', monospace;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  background: #D8D8D8;
}

.newline {
  clear: both;
}

.inContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


/*  S E T T I N G S */

.fullpage {
  z-index:10;
  position: absolute;
  width: 99%;
  height: 97vh;
}

.padding10 {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px
}

.padding2remImportant {
  padding-left: 2rem !important;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}


.bgwhite-alpha {
  background: rgba(255,255,255,0.8);
}

.bgwhite {
  background: white;
}

.bggray {
  background: #d8d8d8;
}

/* SETIINVGS panel border (interior) */
.border{
    -webkit-box-shadow:inset 0px 0px 0px 2px #bbbbbb;
    -moz-box-shadow:inset 0px 0px 0px 2px #bbbbbb;
    box-shadow:inset 0px 0px 0px 2px #bbbbbb;
}



div.horizontalgap{padding-left: 10px; display: inline}

.settings-col {
  position: relative;
  /*width: 22%;*/
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px
}

.border10px {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px
}

@media (max-width: 1000px) {
  .settings-col{
    width: calc(50% - 20px);
  }
}
@media (min-width: 1000px) {
  .settings-col{
    width: calc(25% - 20px);
  }
}

.hidden { display:none; }

/*img.frontpage{
    width:100%;
    max-width:150px;
    display: block;
    margin: 0 auto;
}*/

input[type=range]{
  float: right;
  margin: 0 0 0 0 !important;
}


.fitImageToBox {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.fitImageToBox img {
  width: 100%;
  height: auto;
}

/* from materialize */
.center, .center-align {
  text-align: center; }


.justifyText {
  text-align: justify;
}
.justifyText:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.pointer {
    cursor:pointer;
    cursor:hand;
}
/*
#logoLanding {
  width:100%;
  max-width:250px;
}
*/

/* FONTS MOVED TO index.html */

.heavy {
  font-weight: 700;
}

.light {
  font-weight: 300; }

a {
  text-decoration: none; }

.strikethorugh {
  text-decoration: line-through;
}

html {
  line-height: 1.5;
  font-family: "Lato";
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
}
@media only screen and (min-width: 0) {
  html {
    font-size: 14px; } }
@media only screen and (min-width: 992px) {
  html {
    font-size: 14.5px; } }
@media only screen and (min-width: 1200px) {
  html {
    font-size: 15px; } }

.promo-caption {
  font-size: 1.3rem;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 0; }


.dots {
  margin-left: auto;
  margin-right: auto;
  width: 8px;
  height: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 50%;
  background: #b3b3b3;
  box-shadow:
    -50px 0px 0 0px #b3b3b3,
    50px 0px 0 0px #b3b3b3;
}








#spinner {
  padding-top: 30vh;
}

/* http://tobiasahlin.com/spinkit/ */
.spinner {
  width: 40px;
  height: 40px;
  /*background-color: orange;*/

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px); background-color: purple; }
  50% { -webkit-transform: perspective(120px) rotateY(180deg); background-color: orange; }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg); background-color: purple; }
}

/* don't think chrome uses the following:
@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
*/
