/*
resizing of canvases is tricky -- read this:
http://stackoverflow.com/questions/5034529/size-of-html5-canvas-via-css-versus-element-attributes
*/

canvas { border: 1px solid black; }
/*
SIMPLE GRID SYSTEM
https://css-tricks.com/dont-overthink-it-grids/
*/
.col-1 {
  position: relative;
  width: 20%;
  float: left;
}
.col-2 {
  position: relative;
  width: 10%;
}
.col-3 {
  position: relative;
  width: 69%;
  float:right;
}
.row-0 {
  height:5vh;
}
.row-1 {
  height:15vh;
}
.row-2 {
  height:60vh;
}
.row-3 {
  height:13vh;
}
.newline {
  clear: both;
}
.inside {
  z-index: 10;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/*http://stackoverflow.com/questions/5657964/css-why-doesn-t-percentage-height-work*/
/*.main {
  width:600px;
  height:800px;
}*
