#### specific gitignore for gh-pages branch
#### updates to master are merged into this branch via `git checkout master font img js/bundle.js index.html css`

.DS_Store

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules
webpack*
dev
dist

# datasets (used for local testing)
datasets


# ESlint (for the time being)
.eslintrc
